/*****************
Color set
******************/
$primary-color: #3563b1;
$white: #fff;
$gray: #f9fafc;
$dark-gray: #637282;

/*****************
Base Font Family
******************/
$font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic,
  'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';

/*****************
Layout size
******************/
$header-height: 64px;
$edit-header-height: 64px;
$sidebar-width: 248px;

/*****************
Font size
******************/
$large: 20px;
$medium-large: 18px;
$medium: 16px;
$medium-small: 14px;
$small: 12px;
$tiny: 10px;
