@import 'styles/_variables';
@import 'styles/_mixin';

.wrapper {
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  height: calc(100% - #{$header-height});
  background-color: $white;
  &_left {
    display: block;
    width: $sidebar-width;
    background-color: #fafafa;
    @include tab {
      display: none;
    }
    @include sp {
      display: none;
    }
  }
  &_body {
    width: calc(100% - #{$sidebar-width});
    padding: 0 48px;
    &_inner {
      &_title {
        font-weight: bold;
        font-size: $large;
        @include tab {
          font-size: $medium-large;
        }
      }
    }
    @include tab {
      width: 100%;
      padding: 16px;
    }
    @include sp {
      width: 100%;
      padding: 16px;
    }
  }
}
